body{
    background-color: #303030;
}

div{
    width: 200px;
    height: 90px;
    padding: 0px;
    border: 1px solid white;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    background-color: gray;
    color: black;
}